#top {
    display: flex;
    height: 10%;
}

#middle {
    height: 5vh;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #003049;
    text-align: center;
    text-transform: lowercase;
    font-weight: bolder;
}

p {
    color: #fdf0d5;
    font-family: 'Courier New', monospace;
    font-size: 8vw;
}

a {
    width: 25%;
    background-color: #003049;
    border: 1vw solid #fdf0d5;
    border-radius: 10px;
    color: #fdf0d5;
    font-family: 'Courier New', monospace;
    font-size: 3vw;
    transition-duration: 0.4s;
    text-decoration: none;
}

a:hover {
    background-color: #fdf0d5;
    color: #003049;
    border: 0.25vw solid #780000;
  }


