html {
  height: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


form {
  text-align: left;
  font-family: Andale Mono, monospace;
}

p {
  text-align: left;
  font-family: Andale Mono, monospace;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background:#111;
  /* The rest of the styles */
  text-align: center;
}

button {
  background-color: #c1b;
  border-radius: 12px;
  font-size: 20px;
  padding: 14px 40px;

}

::selection {
  background: #3fe0c5; /* WebKit/Blink Browsers */
  color: #111;
}
::-moz-selection {
  background: #3fe0c5; /* Gecko Browsers */
  color: #111;
}

.mainContainer {
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px; /* height of your footer */
}

.nav-link:hover {
  color: #111;
  border: #3fe0c5 solid 3px;
  background:#111;
}
.rm-card {
  margin:20px;
}

.rm-card-image {
  border-radius: 30px;
  width: 300px;
  height: 300px;
  box-shadow: 0px 0px 10px 1px #c1b;
}

.rivermoon-brand {
  font-family: 'Kaushan Script', cursive;
}

.rm-card-info {
  margin-top: 10px;
  min-height: 100px;
}

.rm-card-title {
  font-size: 24px;
  margin: 0px;
}

.rm-card-subtitle {
  font-size: 16px;
  margin: 0px;

}

.success-msg {
  color: #57A773;
  padding: 10px 15px;
  background-color: black ;
}

.err-msg {
  color: #EE6352;
  padding: 10px 15px;
  background-color: black ;
}
.sending-msg {
  color: #FF9900;
  padding: 10px 15px;
  background-color: black;
  text-align: center;
}

.rm-title-div {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  color: #c1b;
}
.rm-content-div {
  text-align: left;
}

.field-form {
  width: 100%;
  height: 56px;
  position: relative;
  transition: 0.3s all;
}

.field-form:hover {
  background-color: rgba(255, 255, 255, 0.45);
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.rm-socials {
  text-align: center;
  font-family: 'Kaushan Script', cursive;
  font-family: Andale Mono, monospace;
  font-size: 16px;
}

#full-name, #email, #subject, #message {
  background-color: white;
  border-radius: 15px;
  color: black;
}
#full-name:focus, #email:focus, #subject:focus, #message:focus {
  border-bottom: 10px solid #58D68D;
  border-width: medium;
}
